
:root {
    --theme-color: #037512d2; /* Forest Green */
}

#h1 {
    font-family: ui-sans-serif, Arial, sans-serif;
    font-weight: 100;
}

.bordered-h1 {

    position: relative;
    padding: 8px; /* Space between text and border */
    text-align: center; /* Center-align text (optional) */
    background: linear-gradient(to right,var(--theme-color) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.5s ease-in, color 1s ease;
}

.bordered-h1:hover {
    background-position: left bottom;
    color: white;
}

/* .bordered-h1.clicked {
    background: var(--theme-color); 
    background-size: 100% 100%;
    color: white; 
}
*/


.nav-hover{
    display: inline-block;
    position: relative;
    transition: transform 0.4s ease, color 0.9s ease;
}

.nav-hover:hover{
    
    transform: scale(1.2);
    color:var(--theme-color);
}

.nav-hover::after {
    content: ""; /* Required for the pseudo-element */
    position: absolute; /* Position relative to the .hover element */
    left: 0;
    bottom: -2px; /* Position underline just below the text */
    width: 100%; /* Full width of the text */
    height: 2px; /* Thickness of the underline */
    background-color: var(--theme-color); /* Underline color */
    transform: scaleX(0); /* Start with zero width */
    transform-origin: bottom right; /* Animate from right to left */
    transition: transform 0.3s ease; /* Smooth transition for underline width */
}

.nav-hover:hover::after {
    transform: scaleX(1); /* Expand underline to full width */
    transform-origin: bottom left; /* Animate from left to right */
}

.nav-hover:focus::after,
.nav-hover:focus {
    color: var(--theme-color);
    width: 100%;
}

